<div style="margin-bottom:1em; padding:0.5em; background-color:#ccc; font-weight:bold;">
	<a href="http://www.google.com/recaptcha/mailhide/d?k=018bJtDIvBJLFX5o358n7sFA==&amp;c=jDLw_oZcspc6UlYSkGf9VUYZg97L-YDcikiVTEI7HVw=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d018bJtDIvBJLFX5o358n7sFA\x3d\x3d\x26c\x3djDLw_oZcspc6UlYSkGf9VUYZg97L-YDcikiVTEI7HVw\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">a...@gmail.com</a>
</div>
